// main: main.scss

.catalog-wrap {
	display: flex;
	justify-content: space-between;
	padding-bottom: 60px;
}



.catalog-card__row {
	display: flex;
}

.catalog-card__item {
	display: flex;
}

.card {
	margin-bottom: 15px;
}