// main: main.scss

.catalog-product--main {
	border-bottom: 1px solid $gray-btn;
}

.catalog-wrap {
	display: flex;
	justify-content: space-between;
	padding-bottom: 60px;
}

.catalog-card__row {
	display: flex;
	margin-bottom: 15px;
}