// main: main.scss

.development {
	padding: 75px 0 75px;
}

.development__wrap {
	display: flex;
	justify-content: space-between;
}

.development__items-row {
	display: flex;
	justify-content: space-between;
	width: 700px;
	margin-bottom: 25px;
}

.development__items-card {
	width: 335px;
	height: 185px;
	background-color: $develop;
	padding: 30px;
}

.development__items-img {
	width: 60px;
	height: 60px;
	background-color: $yellow;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.development__items-text {
	& p {
		font-size: 13px;
		font-weight: 400;
		line-height: 25px;
	}
}

.development__descr {
	width: 100%;
	max-width: 455px;


	& p {
		font-size: 15px;
		font-weight: 400;
		line-height: 25px;
		width: 370px;
		margin-bottom: 40px;
	}
}

.development__descr-title {
	& h2 {
		font-size: 35px;
		font-weight: 900;
		margin-bottom: 40px;
	}
}

.development__descr-btn {
	width: 220px;
	height: 50px;
	background-color: $yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;

	& a {
		font-size: 13px;
		font-weight: 500;
		color: $dark;
		text-decoration: none;
	}
}